<footer>
  <div class="footerWrapper">
    <a href="/sitemap.xml">Sitemap</a>
    <div class="socialLinks">
      <a href="https://www.linkedin.com/in/aman-pareek/"
        ><img src="/assets/imgs/linkedin.svg" alt="linkedin aman pareek"
      /></a>
      <a href="https://github.com/Amanp30"
        ><img src="/assets/imgs/github.svg" alt="github amanp30"
      /></a>
    </div>
  </div>
</footer>
