<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink', {metaData}); %>

    <link rel="stylesheet" href="/assets/css/about.css" />
  </head>
  <body>
    <%- include('components/menu'); %>

    <div class="container">
      <h1>About</h1>
      <p>
        Hello, I'm Aman Pareek, a passionate self-taught Front-end Developer. I
        take pride in having earned my BCA degree from
        <a href="https://mdsuajmer.ac.in"> MDSU, Ajmer</a>, in 2022.
      </p>

      <p>
        My journey into web development commenced even before my college years,
        where I successfully crafted a website that captivated over two hundred
        thousand users—a pivotal moment marking my initial triumph.
      </p>

      <p>
        As I ventured into my professional career, I made a deliberate choice to
        specialize in the powerful combination of React.js and Node.js, laying a
        robust foundation for my development endeavors.
      </p>
      <p>
        Harnessing the capabilities of these cutting-edge technologies, I've
        developed a suite of web applications, including Tradebook—an intraday
        trading journal tailored for Indian users. Additionally, I've created a
        dynamic quiz platform, and I'm currently actively involved in the
        development of a blogging platform that promises to offer an enriching
        online experience.
      </p>

      <p>
        I'm addicted to chess we can be friends on
        <a href="https://www.chess.com/member/amanp30">chess/amanp30 ↗</a>
      </p>
    </div>

    <%- include('components/footer'); %>

    <script src="/assets/menu/menu.js"></script>
  </body>
</html>
